<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Import vue -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <!-- Stylesheet link -->
    <link rel="stylesheet" href="stylesheet.css">
    <!-- Profile icon -->
    <link rel="shortcut icon" href="includes/Myself.png" type="image/png">
    <title>Manyike San Terence</title>
</head>
<body>

    <div id="app" class="container-fluid section">
        <div class="row">
            <div class="col-12 my-nav">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand a-nav ml-3" href="index.html"><img class="avatar" src="includes/Profilepic.jpg" alt="Myself">&nbsp; My Portfolio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse nav navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active a-nav" aria-current="page" href="index.html">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav" href="#scroll-about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav" href="#scroll-portfolio">PORTFOLIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav" href="#contacts">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a name="login" class="nav-link a-nav" data-bs-toggle="modal" data-bs-target="#loginModal">LOGIN</a>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row alert">
            <div class="row text-center">
                <div class="col-12 alert alert-info text-center alert-dismissible fade show">
                    <p class="display-5">Under construction!</p>
                    <p>Working on something more interesting</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <img class="profilepic mt-3" src="includes/Profilepic.jpg" alt="Myself">
                </div>
            </div>
            <div class="row intro">
                <div class="col-md-3 align-self-center">
                    <hr class="jumbotron-hr1">
                </div>
                <div class="col-md-6 align-self-center text-center mb-3">
                    <p class="display-4">Hello I'm San Manyike</p>
                    <h3>Full Stack Developer</h3>
                    <p>I'm a designer who care's about your story</p>
                    <a href="profile.html" target="_blank"><button class="btn btn-info card-btn mt-3">MY RESUME</button></a>
                </div>
                <div class="col-md-3 ml-3 align-self-center">
                    <hr class="jumbotron-hr2">
                </div>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-md-6 project-history">
                <div class="section-one">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p class="display-5 heading about1">{{ about_tittle }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                            </div>
                            <div class="carousel-inner">
                              <div v-for="item in about" :class="item.carousel">
                                <div class="about-section">
                                    <div class="card about-card">
                                        <img class="about-img" :src="item.image_url" :alt="item.img_alt">
                                        <div class="card-body">
                                            <h5 class="card-title heading">{{ item.tittle }}</h5>
                                            <p class="card-text">{{ item.description }}</p>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6 project-history">
                <div class="row text-center justify-content-center">
                    <div class="col-2 align-self-center">
                        <hr class="pricing-hr">
                    </div>
                    <div class="col-6">
                        <p class="display-5">{{ project_history_tittle }}</p>
                    </div>
                    <div class="col-2 align-self-center">
                        <hr class="pricing-hr">
                    </div>
                </div>
                <div v-for="project in project_history" class="row mt-3">
                    <div class="col-4"></div>
                    <div class="col-2 text-center">
                        <a :href="project.link" target="_blank">
                            <img class="git-icon" :src="project.image_url" :alt="project.img_alt">
                        </a>
                    </div>
                    <div class="col-6 mt-3">
                        <p>{{ project.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="scroll-portfolio" class="section-two container-fluid">
            <div class="row justify-content-center section-two-content">
                <div class="col-md-3 align-self-center">
                    <hr class="jumbotron-hr1">
                </div>
                <div class="col-md-3 align-self-center">
                    <p class="display-4">{{  profile_tittle }}</p>
                </div>
                <div class="col-md-3 align-self-center">
                    <hr class="jumbotron-hr2">
                </div>
            </div>
            <div class="row justify-content-center">
                <div v-for="profile in profiles" class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card my-p-card border-info text-center">
                        <img class="card-img-top" :src="profile.image_url" :alt="profile.img_alt">
                        <div class="card-body">
                            <p class="card-title"><h5>{{ profile.name }}</h5></p>
                            <p class="card-text">{{ profile.description }}</p>
                            <a class="btn btn-info card-btn" :href="profile.link">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="footer">
            <div class="row enquiry">
                <div id="contacts" class="col-md-6 contacts">
                    <div class="heading">
                        <p class="display-4">Location</p>
                    </div>
                    <p>At my core is a collection of design and development solutions that represent everything your business needs to compete in the modern marketplace.</p>
                    <Address>Nizhny Novgorod(Russia)<br> Prospekt Gagarina 23<br>Nizhny Novgorod Oblast<br>603022 </Address>
                    <div class="row">
                        <div class="col-3">
                        <a href="https://www.facebook.com/san.manyike"><img class="pngs" src="includes/png/007-facebook.png" alt="Facebook"></a>
                    </div>
                    <div class="col-3">
                        <a href="#"><img class="pngs" src="includes/png/008-twitter.png" alt="Twitter"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.instagram.com/san_manyike/"><img class="pngs" src="includes/png/009-instagram.png" alt="instagram"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.linkedin.com/in/san-manyike-67b371126/"><img class="pngs" src="includes/png/linked.png" alt="linked in"></a>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 chatt">
                    <div class="heading">
                        <p class="display-4">Contact me</p>
                    </div>
                    <form onsubmit="return form_validate()" action="contactform.php" method="POST">
                        <div class="mb-3">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">
                        </div>
                        <div class="mb-3">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Message subject">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="message" name="message" placeholder="Enter Your Request" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info card-btn">Send message</button>
                    </form>
                </div>
            </div>
            <div class="row copyrights">
                <div class="col-12 align-self-center text-center">
                    Lorem, ipsum. &copy Manyike STM
                </div>
            </div>
        </div>
    </div>

    <!--Modal login pop-up start-->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><img class="avatar" src="includes/png/001-avatar.png" alt="Login avatar">&nbsp; Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><br>
            </div>
            <div class="modal-body"><!--Modal login body start-->
                <p>Already have an account? Sign in to retrieve your account settings to continue with your resume.</p>
                <form>
                    <div class="row mb-3">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your email">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Enter your password">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-info card-btn">Sign in</button>
                  </form><br>
                  <button type="button" class="btn btn-info card-btn">Forgot password</button>
            </div><!--Modal login body end-->
            <div class="modal-footer">
                <p>Don't have an account ? </p>
                <button type="button" class="btn a-nav" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up</button>
            </div>
          </div>
        </div>
    </div> 
    <!--Modal login pop-up end-->
    <!--Modal signup pop-up start-->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><img class="avatar" src="includes/png/001-avatar.png" alt="Login avatar">&nbsp;Create new account</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><!--Modal signup body start-->
                <p>Make the most out of a piece of paper and portray your work experience, skills and education in a way that will make you stand out from the bulk of CV's recruiters read on a daily basis. Register below for a best CV revamp.</p>
                <form>
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <select id="title" class="form-select" aria-label="Default select example">
                                <option selected>Select gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="formGroupExampleInput" class="col-sm-2 form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="formGroupExampleInput2" class="col-sm-2 form-label">Surname</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your surname">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="formGroupExampleInput2" class="col-sm-2 form-label">Cell no</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your cell no">
                        </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your email">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Enter your password">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm your password">
                        </div>
                      </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Accept the <a href="#">terms and conditions</a></label>
                      </div>
                    <button type="submit" class="btn btn-info">Create account</button>
                  </form>
            </div><!--Modal signup body end-->
          </div>
        </div>
    </div> <!--Modal signup pop-up end-->
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="jquery.js"></script>
    <script src="javascript.js"></script>
    <!-- Import Js -->
    <script src="vue.js"></script>
    <script>
      const mountedApp = app.mount('#app')
    </script>
</body>
</html>