<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Import vue -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Stylesheet link -->
    <link rel="stylesheet" href="stylesheet.css">
    <!-- Profile icon -->
    <link rel="shortcut icon" href="includes/STMLogo.png" type="image/png">
    <title>STM Analytics</title>
  </head>
  <body>
    <div id="appp" class="container-fluid updated-footer">
      <div class="profile-background">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
              <a class="navbar-brand a-nav" href="index.html"><img class="avatar" src="includes/Profile.png" alt="Myself" style="border: 1px solid white;">&nbsp; STM Analytics</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active a-nav" aria-current="page" href="index.html">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link a-nav" href="index.html#about">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link a-nav" href="analytics.html">ANALYTICS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link a-nav"  @click="generateCV" href="">DOWNLOAD CV</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link a-nav" href="#contacts">CONTACT</a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
        <div class="row">
          <div class="col-md-4 blank1"></div>
          <div class="col-md-8 blank2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 blank3">
          </div>
          <div class="col-md-6 name text-center">
            <p class="heading display-4">San Terence Manyike</p>
            <p class="display-6">Sofware Engineer</p>
          </div>
          <div class="col-md-4 blank2"></div>
        </div>
        <div class="row">
          <div class="col-md-4 info">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-7">
                <br>
                <p class="display-6">Info</p><hr class="profile-hr">
                <h5><strong>Address</strong></h5>
                <ul class="list-unstyled">
                  <li>South Africa, Mpumalanga, Nelspruit</li>
                  <li>Stand no 534</li>
                  <li>Mataffin</li>
                  <li>1205</li>
                </ul>
                <h5><strong>Phone</strong></h5>
                <p>+27790246772</p>
                <h5><strong>Email</strong></h5>
                <p>terrencemanyike@gmail.com</p>
                <p class="display-6 skills">Skills</p><hr class="profile-hr">
                <ul class="list-unstyled">
                <!-- My skillset start -->
                <div v-for="data in skillset" class="mb-1">
                  <li>{{ data.skill }} &nbsp; {{ data.comfortability }}%</li>
                  <div class="scale">
                    <div class="bar-fill" :style="{ width: data.comfortability + '%' }"></div>
                  </div>
                </div>
                <!-- My skillset end -->
                </ul>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <div class="col-md-8 blank4">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <p class="display-6 heading skills">About</p><hr class="profile-hr">
                <p>As a software engineer with a bachelor's degree in computer science and information technology, I have developed web applications using the LAMP stack, Laravel, jQuery and Vue.js for various e-commerce and sales distribution platforms. I have also integrated server-to-server APIs, managed code versioning tools, and designed responsive websites.
                  <br>
                  I am passionate about data analysis and actively exploring machine learning. I have used QGIS, PostgreSQL, and Python to perform spatial and non spatial data analysis on geo server and Jupyter notebook for visualisation. I am eager for professional growth and keen to delve into cloud computing, particularly interested in AWS, Salesforce, or Azure.</p>

                <div class="row">
                  <div class="col-12">
                    <p class="display-6">Experience</p>
                  </div>
                </div>
                <hr class="profile-hr">

                <div v-for="data in experience" class="row">
                  <div class="col-7">
                    <p class="fs-5">
                      <span class="fw-bold">{{ data.company }}, </span>
                      <span class="fst-italic">{{ data.location }}</span> <br>
                      <span class="text-muted fs-6 fst-italic">
                        {{ data.start_date }} &nbsp;-&nbsp; {{ data.end_date }}
                      </span>
                    </p>
                  </div>
                  <div class="col-5 text-muted text-end">
                    <span class="fs-5 fw-bold fst-italic">- {{ data.tittle }}</span>
                  </div>
                  <p>{{ data.description }} <br>
                    <span v-for="role in data.duties">
                      • <span class="fs-6">
                        {{ role.duty }} <br>
                      </span>
                    </span>
                  </p>
                </div>
                
                <div class="row">
                  <div class="col-12">
                    <p class="display-6 heading">Education</p>
                  </div>
                </div>
                <hr class="profile-hr">
                <div class="row">
                  <div class="col-7">
                    <p class="fst-italic fs-5">Lobachevsky State University of Nizhny Novgorod</p>
                  </div>
                  <div class="col-5 text-muted text-end">
                    <p>2017-2021 &nbsp; 
                      <span class="fs-5 fw-bold fst-italic">- RUSSIA</span>
                    </p>
                  </div>
                </div>
                <p>I hold a Bachelor’s degree in Fundamenta Informatics and Information Technology.</p>
                <p class="display-6 heading">Awards</p><hr class="profile-hr">
                <ul>
                  <li>Math Top Achiever
                    Mbombela municipality
                    Grade 12 (public School’s
                    category).
                  </li>
                  <li>MINQUIZ Competition
                    Mathematics and Science
                    competition provincial and
                    national finalist hosted by
                    MINTEK.
                  </li>
                  <li>eV Challenge Project
                    Battery-powered vehicle
                    (Rotary Club of Nelspruit).
                  </li>
                </ul>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="row enquiry">
            <div id="contacts" class="col-md-6 contacts">
                <div class="heading">
                    <p class="display-4">Location</p>
                </div>
                <p>At my core is a collection of design and development solutions that represent everything your business needs to compete in the modern marketplace.</p>
                <Address>Nizhny Novgorod(Russia)<br> Prospekt Gagarina 23<br>Nizhny Novgorod Oblast<br>603022 </Address>
                <div class="row">
                    <div class="col-3">
                    <a href="https://www.facebook.com/san.manyike"><img class="pngs" src="includes/png/007-facebook.png" alt="Facebook"></a>
                </div>
                <div class="col-3">
                    <a href="#"><img class="pngs" src="includes/png/008-twitter.png" alt="Twitter"></a>
                </div>
                <div class="col-3">
                    <a href="https://www.instagram.com/san_manyike/"><img class="pngs" src="includes/png/009-instagram.png" alt="instagram"></a>
                </div>
                <div class="col-3">
                    <a href="https://www.linkedin.com/comm/in/san-manyike"><img class="pngs" src="includes/png/linked.png" alt="linked in"></a>
                </div>
                </div>
            </div>
            <div class="col-md-6 chatt">
                <div class="heading">
                    <p class="display-4">Contact me</p>
                </div>
                <form onsubmit="return form_validate()" action="contactform.php" method="POST">
                  <div class="mb-3">
                      <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">
                  </div>
                  <div class="mb-3">
                      <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
                  </div>
                  <div class="mb-3">
                      <input type="text" id="subject" name="subject" class="form-control" placeholder="Message subject">
                  </div>
                  <div class="mb-3">
                      <textarea class="form-control" id="message" name="message" placeholder="Enter Your Request" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-info">Send message</button>
              </form>
            </div>
        </div>
        <div class="row copyrights">
            <div class="col-12 text-center">
                Lorem, ipsum. &copy Manyike STM
            </div>
        </div>
      </div>
    </div>
    <!-- Import Js -->
    <script src="vue1.js"></script>
    <script>
      const mountedApp = app.mount('#appp')
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="jquery.js"></script>
    <script src="javascript.js"></script>
  </body>
</html>