.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.navbar{
    background-color: black !important;
    opacity: 0.8;
    top: 0;
    z-index: 999;
    position: fixed;
    width: 100%;
}

.navbar a{
    color: honeydew !important;
    opacity: 0.7;
}
.a-nav:hover{
    text-decoration: none;
    background-color: rgb(0, 39, 63) !important;
    color: black !important;
    border-radius: 5px;
}
.navbar-toggler{
    background-color: rgb(0, 39, 63) !important;
}

.section{
    background-image: url(includes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-color: black !important;
    opacity: 0.9;
}

.alert{
    width: 100%;
    margin-top: 40px;
    
}

.profilepic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    border: 1px solid honeydew;
    display: none;
}

hr{
    background-color: honeydew;
    opacity: 0.5;
    border-radius: 50px;
}

.jumbotron-hr1, .jumbotron-hr2{
    width: 0;
}

.intro{
    color: honeydew;
    opacity: 0.7;
}

.about-img{
    width: 200px;
    height: 200px;
}
.about-card{
    box-shadow: 2px 5px 10px black;
    margin-bottom: 60px;
    align-items: center;
    height: 450px;
}

.git-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.project-history{
    background-color: black;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    color: honeydew;
}

.section-one{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: 100%;
    text-align: center;
}

.section-two{
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 50px;
}

.section-two-content{
    padding-bottom: 50px;
    color: honeydew;

}

.card-img-top{
    height: 200px;
    border-top-left-radius: 50px ;
    border-top-right-radius: 50px ;
}

.my-p-card{
    width: auto;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 50px;
    border-color: #1A5276 !important;
    opacity: 0.6;
}

.card-btn{
    margin-bottom: 20px !important;
    border-radius: 50px;
    background-color: #061c2b;
    color: honeydew;
    border-style: none;

}

.card-btn:hover{
    text-decoration: none;
    background-color: red !important;
    color: honeydew !important;
    border-radius: 50px;
}

.about1{
    margin-bottom: 35px;
}

/*Footer style*/
.footer{
    background-image: url(includes/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.enquiry{
    width: auto;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    padding: 0 50px 100px 50px;
}
.chatt, .contacts{
    padding-top: 50px;
}
.pngs{
    width: 50px;
    height: 50px;
}
.copyrights{
    width: auto;
    background-color: black;
    opacity: 1;
}
/*Profile style*/
.profile-background{
    background-image: url(includes/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.blank1, .blank3{
    background-color: black;
    opacity: 0.7;
}
.blank2, .blank4, .project{
    background-color: rgb(241, 250, 255);
    padding-top: 80px;
    padding-bottom: 50px;
}
.name{
    background-color: black;
    height: 100%;
    border: 1px solid #1A5276;
}
.info{
    background-color: black;
    opacity: 0.9;
    height: 100%;
    padding-bottom: 80px;
}

.scale{
    width: auto;
    border: .5px solid #061c2b;
    border-radius: 50px;
}
.bar-fill{
    background-color: #1A5276;
    opacity: 0.2;
    height: 10px;
    width: 1%;
}

.carousel-inner{
    color: grey;
}

.profile-hr{
    background-color: #1A5276;
    height: 5px !important;
}

.about-section{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: honeydew;
}

.project-link{
    text-underline-offset : none;
}

.analytics-container{
    padding-top: 20px !important;
}

.analytics-background{
    background-color: #f5f5f5;
}

.updated-footer{
    padding: 0;
}

.nationalChart{
    padding: 20px 60px 80px 60px;
}

.more-provinces-accord{
    border: .1px solid rgb(191, 191, 191);
}

.more-provinces-accord:hover{
    box-shadow: 3px 3px 5px 3px;
}

.nav-tabs-margin{
    margin-top: 100px !important;
}

#MpumalangaChart, #EasternCapeChart, #FreeStateChart, #GautengChart, #KwaZuluNatalChart, #LimpopoChart, #NorthernCapeChart, #NorthWestChart, #WesternCapeChart, #nationalChart, #matricChart, #mathscienceChart, #PiTaxChart, #SmTaxChart, #TDutyChart, #TTaxChart{
    min-height: 300px;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    min-height: 450px;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #1A5276; /* Light peach color for the current day */
    color: #1A5276; /* Dark blue color for the text */
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: white; /* Dark blue color for the date number */
}