/*Apply to all style*/
body{
    font-family: 'Oxygen', sans-serif;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
/*Main page style*/
.section{
    background-image: url(includes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    background-attachment: fixed;
}
a{
    color: rgb(0, 0, 0) !important;
}
.navbar{
    background-color: black !important;
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.navbar a{
    color: honeydew !important;
    opacity: 0.7;
}
.a-nav:hover{
    text-decoration: none;
    background-color: rgb(130, 205, 252) !important;
    color: black !important;
    border-radius: 5px;
}
.navbar-toggler{
    background-color: honeydew !important;
}
.jumbotron{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    opacity: 0.7;
    padding-top: 100px;
    padding-bottom: 50px;
}
.jumbotron-hr1, .jumbotron-hr2{
    width: 0;
}
.alert{
    display: none;
}
.profilepic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 1;
    border: 1px solid #1A5276;
    display: none;
}
hr{
    background-color: honeydew;
    opacity: 0.2;
    border-radius: 50px;
}
.pricing-hr ,.portfolio-hr{
    background-color: #1A5276;
    height: 5px !important;
}
.align-self-center{
    text-align: center !important;
}
.btn-info{
    background-color: #1A5276;
    width: 150px;
    border-radius: 50px;
    border: none;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.section-one{
    width: auto;
    height: 100%;
    background-color: lightgrey;
    text-align: center;
}
.about1, .pricing1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-img{
    width: 200px;
    height: 200px;
}
.about-card{
    box-shadow: 2px 5px 10px black;
    margin-bottom: 100px;
    align-items: center;
    height: 450px;
}
.heading{
    color: #58595B;
}
.about-u{
    margin-bottom: 70px;
    margin-top: 0;
    background-color: #1A5276;
    height: 5px !important;
}
.u-card{
    background-color: lightgrey;
}
.p-card{
    border-top: 5px solid #1A5276;
    margin-bottom: 100px;
    height: 500px;
    width: 100% ;
}
.p-card:hover{
    box-shadow: 5px 5px 10px black;
}
/*My portfolio style*/
.section-two{
    width: auto;
    height: 100%;
    margin-top: 0;
    padding-top: 50px;
    background-color: black;
    opacity: 0.7;
}
.section-two-content{
    padding-bottom: 50px;
}
/*Card-images and card style*/
.card-img-top{
    height: 200px;
    border-top-left-radius: 50px ;
    border-top-right-radius: 50px ;
}
.my-p-card{
    width: auto;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 50px;
    border-color: #1A5276 !important;
}
.card-btn{
    margin-bottom: 50px !important;
}
/*Footer style*/
.footer{
    background-image: url(includes/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    background-attachment: fixed;
}
.enquiry{
    width: auto;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    padding: 0 50px 100px 50px;
}
.chatt, .contacts{
    padding-top: 50px;
}
.pngs{
    width: 50px;
    height: 50px;
}
.copyrights{
    width: auto;
    height: 100px;
    background-color: black;
    opacity: 1;
}
/*Profile style*/
.profile-background{
    background-image: url(includes/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.blank1, .blank3{
    background-color: black;
    opacity: 0.7;
}
.blank2, .blank4, .project{
    background-color: lightgrey;
    padding-top: 80px;
    padding-bottom: 50px;
}
.name{
    background-color: black;
    height: 100%;
    border: 1px solid #1A5276;
}
.info{
    background-color: black;
    opacity: 0.9;
    height: 100%;
    padding-bottom: 80px;
}
.profile-hr{
    background-color: #1A5276;
    height: 5px !important;
}
.scale{
    width: auto;
    border: .5px solid #061c2b;
    border-radius: 50px;
}
.html-bar, .css-bar, .bootstrap-bar, .javascript-bar,
.jquery-bar, .php-bar, .laravel-bar, .java-bar,
.c-bar, .cc-bar, .vue-bar, .mysql-bar
{
    background-color: #1A5276;
    opacity: 0.2;
    height: 10px;
    width: 1%;
}
/*Responsive screen view adjustment*/
@media (max-width: 769px){
    .blank2{
        background-color: black;
        opacity: 0.7;
    }
}
